	<footer>
		<div class="container">
			<div class="content-footer row">
				<div class="column-footer col-lg-5 col-md-8 col-sm-7">
					<h3>Контактная информация</h3>
					<ul>
						<li>АДРЕС: Притыцкого 158A, Минск, Беларусь</li>
						<li>Телефон для записи: +375(44) 797-70-70</li>
					   <a href="#"><i class="fa fa-telegram" aria-hidden="true"></i></a>
						<li id="follow-us">FOLLOW US ON: 
							<a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a>
						</li>
					</ul>
				</div>

				<div class="column-footer col-lg-4 col-md-5 col-sm-7">
					<h3>Время работы</h3>
					<ul id="restaurant-hours">
						<li>
							<span class="span-left">ЕЖЕДНЕВНО</span>
						</li>
						<li>
							<span class="span-right">10:00 - 22:00</span>
						</li>
						
					</ul>
					<div class="line-divide first-line"></div>
				</div>

				<div class="column-footer col-lg-3 col-md-3 col-sm-7">
					<h3>Полезные ссылки</h3>
					<ul id="useful-links">
						<li>
							<span class="span-left">
								<a href="">Главная</a>
							</span> 
							<span class="span-right">
								<a href="#services">Услуги</a>
							</span>
						</li>
						<li>
							<span class="span-left">
								<a href="#reservation">Запись</a>
							</span> 
							<span class="span-right">
								<a href="#contacts">Контакты</a>
							</span>
						</li>
					</ul>
					<div class="line-divide second-line"></div>
				</div>
			</div>
		</div>
		<div class="wrap-bottom-footer">
			<div class="container">
				<div class="bottom-footer row justify-content-between">
					<div class="col-12 col-sm-7">© 2019 MurphyDM. All rights reserved.</div>
					<div class="col-12 col-sm-5"><span>Privacy policy</span><span>Terms of use</span></div>
				</div>
			</div>
		</div>
	</footer>